<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>235775213318-ql0bjrnhj9vf83fbn2c8vavgu410c4tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235775213318-ql0bjrnhj9vf83fbn2c8vavgu410c4tn</string>
	<key>API_KEY</key>
	<string>AIzaSyCY0Q0ZlB9RTfEFZLIcJw-ofZpPHZJkO50</string>
	<key>GCM_SENDER_ID</key>
	<string>235775213318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ryohlan.lecture5</string>
	<key>PROJECT_ID</key>
	<string>rn-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235775213318:ios:f55c1e7b0b2d864e</string>
	<key>DATABASE_URL</key>
	<string>https://rn-sample.firebaseio.com</string>
</dict>
</plist>